<!-- Heading line -->
<h1 class="link-creation-title" mat-dialog-title>{{ 'dialog.createCanvas.header' | translate }}</h1>

<form [formGroup]="canvasCreationForm" #form="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">

    <mat-dialog-content>

        <!-- Name -->
        <base-form-input [parentForm]="canvasCreationForm" inputType="text" entityName="name" inputControlName="name" [inputRequired]="true"
            [inputMaxLength]="canvasNameMaxLength"></base-form-input>

        <!-- Canvas -->
        <base-form-select [parentForm]="canvasCreationForm" entityName="canvas" selectControlName="canvas"
            [selectionOptions]="selectableCanvases" [selectRequired]="true"></base-form-select>

        <div class="image-container">
            <img *ngIf="canvasImageSrc" [src]="canvasImageSrc" />
        </div>

    </mat-dialog-content>

    <!-- Submit Button -->
    <mat-dialog-actions align="end">
        <button mat-button color="primary-800" mat-dialog-close>{{ 'buttons.cancel' | translate }}</button>
        <button mat-raised-button color="primary-800" type="submit">{{ 'buttons.create' | translate }}</button>
    </mat-dialog-actions>
</form>