@import 'variables';

.meeting-type-dialog-container {
    padding-bottom: 10px;

    & .video-call-icon {
        transform: scale(2);
        color: $joolia-white;

        &-background {
            background: $joolia-primary-800;
            border-radius: 50%;
            height: 70px;
            width: 70px;
        }
    }
}

.dialog {
    &-header {
        margin: auto 30px 0;
        padding: 5px 25px;
    }

    &-logo {
        height: 36px;
        margin-right: 10px;

        &-disabled {
            filter: grayscale(100%);
            opacity: 0.5;
        }
    }

    &-dropdown {
        min-width: 170px;
    }
}
