<div gdColumns="1fr minmax(auto, 440px) 1fr" gdRows="1fr auto 1fr" fxFlex>

    <mat-card class="reset-password-card" [gdColumn]="2" [gdRow]="2" fxLayout="column">

        <!--Title -->
        <h1 class="reset-password-title mat-display-1" fxFlexAlign="center">{{ 'labels.resetPassword' | translate }}</h1>

        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" fxLayout="column">

            <!-- Password -->
            <base-password-input [parentForm]="resetForm" passwordControlName="password" [passwordRequired]="true" [showHint]="true">
            </base-password-input>

            <!-- submit -->
            <button class="reset-button" mat-raised-button color="primary" type="submit">
                {{ 'buttons.save' | translate | uppercase }}
            </button>
        </form>

    </mat-card>

</div>