@import 'variables';

.reset-password-card {
    padding: 24px 40px;

    .reset-password-title {
        margin: 0;
        padding-bottom: 24px;
        color: $joolia-primary-500;
    }

    .reset-button {
        margin: 16px auto 24px auto;
    }
}
