<app-sidenav>
    <div class="static-page" ngClass.lt-md="small" fxLayout="column">
        <mat-card fxFlexAlign="center">
            <div class="section">
                {{ 'privacyPolicy.preamble' | translate }}
            </div>
            <div class="section">
                <ol>
                    <li>{{ 'privacyPolicy.section1.header' | translate }}
                        <p>
                            {{ 'privacyPolicy.section1.text1' | translate }}
                        </p>
                        <ul>
                            <li>{{ 'privacyPolicy.section1.address.company-name' | translate }}</li>
                            <li>{{ 'privacyPolicy.section1.address.street' | translate }}</li>
                            <li>{{ 'privacyPolicy.section1.address.city' | translate }}</li>
                            <li>{{ 'privacyPolicy.section1.address.country' | translate }}</li>
                            <li>{{ 'privacyPolicy.section1.address.telephone' | translate }}</li>
                            <li>{{ 'privacyPolicy.section1.address.fax' | translate }}</li>
                            <li>{{ 'privacyPolicy.section1.address.e-mail' | translate }}</li>
                        </ul>
                        <p>
                            {{ 'privacyPolicy.section1.text2' | translate }}
                        </p>
                    </li>
                    <li>{{ 'privacyPolicy.section2.header' | translate }}
                        <ol>
                            <li>{{ 'privacyPolicy.section2.subsection1.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section2.subsection1.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section2.subsection2.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section2.subsection2.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section2.subsection3.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section2.subsection3.text1' | translate }}
                                </p>
                                <p>
                                    {{ 'privacyPolicy.section2.subsection3.text2' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section2.subsection4.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section2.subsection4.text' | translate }}
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>{{ 'privacyPolicy.section3.header' | translate }}
                        <ol>
                            <li>{{ 'privacyPolicy.section3.subsection1.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section3.subsection1.text1' | translate }}
                                </p>
                                <ul>
                                    <li>
                                        {{ 'privacyPolicy.section3.subsection1.personal-information.item1' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section3.subsection1.personal-information.item2' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section3.subsection1.personal-information.item3' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section3.subsection1.personal-information.item4' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section3.subsection1.personal-information.item5' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section3.subsection1.personal-information.item6' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section3.subsection1.personal-information.item7' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section3.subsection1.personal-information.item8' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section3.subsection1.personal-information.item9' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section3.subsection1.personal-information.item10' | translate }}
                                    </li>
                                </ul>
                                <p>
                                    {{ 'privacyPolicy.section3.subsection1.text2' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section3.subsection2.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section3.subsection2.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section3.subsection3.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section3.subsection3.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section3.subsection4.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section3.subsection4.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section3.subsection5.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section3.subsection5.text' | translate }}
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>{{ 'privacyPolicy.section4.header' | translate }}
                        <ol>
                            <li>{{ 'privacyPolicy.section4.subsection1.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section4.subsection1.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section4.subsection2.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section4.subsection2.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section4.subsection3.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section4.subsection3.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section4.subsection4.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section4.subsection4.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section4.subsection5.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section4.subsection5.text' | translate }}
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>{{ 'privacyPolicy.section5.header' | translate }}
                        <ol>
                            <li>{{ 'privacyPolicy.section5.subsection1.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section5.subsection1.text1' | translate }}
                                </p>
                                <ul>
                                    <li>
                                        {{ 'privacyPolicy.section5.subsection1.data1.item1' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section5.subsection1.data1.item2' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section5.subsection1.data1.item3' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section5.subsection1.data1.item4' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section5.subsection1.data1.item5' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section5.subsection1.data1.item6' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section5.subsection1.data1.item7' | translate }}
                                    </li>
                                </ul>
                                <p>
                                    {{ 'privacyPolicy.section5.subsection1.text2' | translate }}
                                </p>
                                <ul>
                                    <li>
                                        {{ 'privacyPolicy.section5.subsection1.data2.item1' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section5.subsection1.data2.item2' | translate }}
                                    </li>
                                </ul>
                                <p>
                                    {{ 'privacyPolicy.section5.subsection1.text3' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section5.subsection2.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section5.subsection2.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section5.subsection3.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section5.subsection3.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section5.subsection4.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section5.subsection4.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section5.subsection5.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section5.subsection5.text' | translate }}
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>{{ 'privacyPolicy.section6.header' | translate }}
                        <p>
                            {{ 'privacyPolicy.section6.text' | translate }}
                        </p>
                    </li>
                    <li>{{ 'privacyPolicy.section7.header' | translate }}
                        <ol>
                            <li>{{ 'privacyPolicy.section7.subsection1.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section7.subsection1.text1' | translate }}
                                </p>
                                <ul>
                                    <li>
                                        {{ 'privacyPolicy.section7.subsection1.data.item1' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section7.subsection1.data.item2' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section7.subsection1.data.item3' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section7.subsection1.data.item4' | translate }}
                                    </li>
                                </ul>
                                <p>
                                    {{ 'privacyPolicy.section7.subsection1.text2' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section7.subsection2.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section7.subsection2.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section7.subsection3.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section7.subsection3.text' | translate }}
                                </p>
                                <ul>
                                    <li>
                                        {{ 'privacyPolicy.section7.subsection3.data.item1' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section7.subsection3.data.item2' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section7.subsection3.data.item3' | translate }}
                                    </li>
                                </ul>
                            </li>
                            <li>{{ 'privacyPolicy.section7.subsection4.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section7.subsection4.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section7.subsection5.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section7.subsection5.text' | translate }}
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>{{ 'privacyPolicy.section8.header' | translate }}
                        <p>
                            {{ 'privacyPolicy.section8.text' | translate }}
                        </p>
                    </li>
                    <li>{{ 'privacyPolicy.section9.header' | translate }}
                        <ol>
                            <li>{{ 'privacyPolicy.section9.subsection1.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section9.subsection1.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section9.subsection2.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section9.subsection2.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section9.subsection3.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section9.subsection3.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section9.subsection4.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section9.subsection4.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section9.subsection5.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section9.subsection5.text' | translate }}
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>{{ 'privacyPolicy.section9a.header' | translate }}
                        <p>
                            {{ 'privacyPolicy.section9a.text' | translate }}
                        </p>
                    </li>
                    <li>{{ 'privacyPolicy.section10.header' | translate }}
                        <p>
                            {{ 'privacyPolicy.section10.text' | translate }}
                        </p>
                        <ol>
                            <li>{{ 'privacyPolicy.section10.subsection1.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section10.subsection1.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section10.subsection2.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section10.subsection2.text' | translate }}
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>{{ 'privacyPolicy.section11.header' | translate }}
                        <p>
                            {{ 'privacyPolicy.section11.text' | translate }}
                        </p>
                        <ol>
                            <li>{{ 'privacyPolicy.section11.subsection1.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section11.subsection1.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section11.subsection2.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section11.subsection2.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section11.subsection3.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section11.subsection3.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section11.subsection4.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section11.subsection4.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section11.subsection5.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section11.subsection5.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section11.subsection6.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section11.subsection6.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section11.subsection7.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section11.subsection7.text' | translate }}
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>{{ 'privacyPolicy.section12.header' | translate }}
                        <p>
                            {{ 'privacyPolicy.section12.text' | translate }}
                        </p>
                    </li>
                    <li>{{ 'privacyPolicy.section13.header' | translate }}
                        <p>
                            {{ 'privacyPolicy.section13.text' | translate }}
                        </p>
                    </li>
                    <li>{{ 'privacyPolicy.section14.header' | translate }}
                        <p>
                            {{ 'privacyPolicy.section14.text' | translate }}
                        </p>
                    </li>
                    <li>{{ 'privacyPolicy.section15.header' | translate }}
                        <p>
                            {{ 'privacyPolicy.section15.text' | translate }}
                        </p>
                        <ol>
                            <li>{{ 'privacyPolicy.section15.subsection1.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section15.subsection1.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section15.subsection2.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section15.subsection2.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section15.subsection3.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section15.subsection3.text' | translate }}
                                </p>
                                <ol>
                                    <li>
                                        {{ 'privacyPolicy.section15.subsection3.subsubsection.text1' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section15.subsection3.subsubsection.text2' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section15.subsection3.subsubsection.text3' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section15.subsection3.subsubsection.text4' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section15.subsection3.subsubsection.text5' | translate }}
                                    </li>
                                    <li>
                                        {{ 'privacyPolicy.section15.subsection3.subsubsection.text6' | translate }}
                                    </li>
                                </ol>
                            </li>
                            <li>{{ 'privacyPolicy.section15.subsection4.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section15.subsection4.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section15.subsection5.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section15.subsection5.text' | translate }}
                                </p>
                            </li>
                            <li>{{ 'privacyPolicy.section15.subsection6.header' | translate }}
                                <p>
                                    {{ 'privacyPolicy.section15.subsection6.text' | translate }}
                                </p>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
            {{ 'privacyPolicy.version' | translate }}
        </mat-card>
    </div>
</app-sidenav>