<mat-form-field class="base-form-text-field" appearance="outline" [formGroup]="parentForm" fxFlex hideRequiredMarker>

    <!-- Input label -->
    <mat-label>{{ 'labels.' + entityName | translate }}</mat-label>

    <!-- Input value -->
    <textarea matInput [formControlName]="inputControlName" [required]="inputRequired" [maxLength]="inputMaxLengthValue"></textarea>

    <!-- Errors and Hints -->
    <mat-error *ngIf="parentForm.controls[inputControlName].invalid">{{ getErrorTranslationKey() | translate }}</mat-error>
    <mat-hint *ngIf="inputMaxLength" align="end">{{parentForm.value[inputControlName]?.length || 0}}/{{inputMaxLength}}</mat-hint>
</mat-form-field>