<div fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <div gdColumns="1fr minmax(auto, 408px) 1fr" gdRows="1fr auto 1fr">

        <mat-card class="forgot-password-card" [gdColumn]="2" [gdRow]="2" fxLayout="column">

            <!--Title -->
            <h1 class="forgot-password-title mat-display-1" fxFlexAlign="center">{{ 'forgotPassword.header' | translate }}</h1>

            <!-- Content text -->
            <div class="forgot-password-content mat-body-1">{{ 'forgotPassword.content' | translate }}</div>

            <form [formGroup]="requestForm" (ngSubmit)="onSubmit()" fxLayout="column">

                <!-- Email -->
                <base-form-input [parentForm]="requestForm" inputType="email" entityName="email" inputControlName="email"
                    [inputRequired]="true">
                </base-form-input>

                <!-- submit -->
                <button class="request-button" mat-raised-button color="primary"
                    type="submit">{{ 'buttons.send' | translate | uppercase }}</button>
            </form>

        </mat-card>

    </div>
</div>