@import 'variables';

.forgot-password-card {
    padding: 24px 40px;

    .forgot-password-title {
        margin: 0;
        padding-bottom: 24px;
        color: $joolia-primary-500;
    }

    .forgot-password-content {
        margin-bottom: 16px;
    }

    .request-button {
        margin: auto auto 24px auto;
    }
}
