@import 'variables';

.main-chip {
    background-color: $joolia-primary-200;
    border-radius: 16px;
    margin: 4px;
    padding: 4px 12px;
    display: inline-block;
    width: max-content;
}

.chip-icon {
    margin-right: 8px;
    font-size: 16px;
    width: 16px;
    height: 16px;
}

.edit-icon {
    position: relative;
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

.edit-icon > .chip-icon {
    margin-right: 0;
}

.delete-icon {
    position: absolute;
    top: -4px;
    left: -4px;
    font-size: 14px;
}

.editable-chip-input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
