<app-sidenav>
    <div class="static-page" ngClass.lt-md="small" fxLayout="column">
        <mat-card fxFlexAlign="center">
            <div>
                <h2>Collected Information, Purpose and Terminology</h2>
            </div>
            <div class="site-title">
                <h1>IP Addresses</h1>
            </div>
            <div class="section">
                An IP address identified your computer. IP addresses are used to diagnose problems, management web pages and for demographic
                information. When you visit our site, we only recognize your domain names, however not your email address. We can only
                identify your e-mail address, if you inform us of such by filling out a form or by sending us an e-mail.
            </div>
            <div class="site-title">
                <h1 class="md-title">Cookies</h1>
            </div>
            <div class="section">
                Your hard drive has a digital business card, called a cookie.txt (“cookie”), and is a system file. The cookie contains data,
                which is saved to your hard drive when a Web site is accessed. However, this data is not dangerous. The respective server is
                thus informed about the activities performed by the user (customer). The server contains information for identifying
                returning visitors; the data will exclusively be used for the duration of the visit to our sites. This enables us to tailor
                the contents of our Internet pages to meet your interests. However, you can also deactivate the cookies at any time in your
                browser settings.
            </div>
            <div class="site-title">
                <h1>User Registration</h1>
            </div>
            <div class="section">
                If you register your user, you will receive any requested information and/or products, as well as any other product
                information, news or advertising material.
            </div>
            <div class="site-title">
                <h1>E-mail Addresses</h1>
            </div>
            <div class="section">
                Providing us with your e-mail address will enable us to contact you. However, if you no longer wish to receive e-mails from
                msg systems ag, you can unsubscribe from our e-mail mailing list at any time – without having to specify a reason. msg
                systems ag will not share your e-mail address with any third parties outside the corporate group. When sending an e-mail to
                msg system ag, personal data may automatically be transferred, depending of the settings of your e-mail program, such as the
                address listed in your e-mail signature. msg systems ag will handle such data as confidential, in the same manner as all
                other data you share with us.
            </div>
            <div class="site-title">
                <h1>Online Applications</h1>
            </div>
            <div class="section">
                If you apply using our online form, your data will be saved in our applicant management system. msg systems ag will not
                share your data with any third parties outside the corporate group.
            </div>
            <div class="site-title">
                <h1>Use of Google Analytics</h1>
            </div>
            <div class="section">
                This website uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”). Google Analytics uses
                “cookies”, which are text files placed on your computer, to help the website analyze how users use the site. The information
                generated by the cookie about your use of the website will be transmitted to and stored by Google on servers in the United
                States. In case IP-anonymisation is activated on this website, your IP address will be truncated within the area of Member
                States of the European Union or other parties to the Agreement on the European Economic Area. Only in exceptional cases the
                whole IP address will be first transfered to a Google server in the USA and truncated there. The IP-anonymisation is active
                on this website. Google will use this information on behalf of the operator of this website for the purpose of evaluating
                your use of the website, compiling reports on website activity for website operators and providing them other services
                relating to website activity and internet usage.
            </div>
            <div class="section">
                The IP-address, that your Browser conveys within the scope of Google Analytics, will not be associated with any other data
                held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note
                that if you do this you may not be able to use the full functionality of this website. You can also opt-out from being
                tracked by Google Analytics with effect for the future by downloading and installing Google Analytics Opt-out Browser Addon
                for your current web browser: <a href="http://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">
                    http://tools.google.com/dlpage/gaoptout?hl=en</a>.
            </div>
        </mat-card>
    </div>
</app-sidenav>