<app-sidenav>
    <div class="static-page" ngClass.lt-md="small" fxLayout="column">
        <mat-card fxFlexAlign="center">
            <div>
                <h2>Imprint</h2>
            </div>
            <div class="site-title">
                <h1>Responsible for content</h1>
            </div>
            <div class="section">
                <div>Joolia GmbH</div>
                <div>Robert-Buerkle-Strasse 1</div>
                <div>85737 Ismaning/Munich</div>
            </div>
            <div class="section">
                <div>Phone: +49 89 96101-0</div>
                <div>Fax: +49 89 96101-1113</div>
                <div>e-mail: <a href="mailto:info@joolia.cloud">info@joolia.cloud</a></div>
            </div>
            <div class="section">
                <div>Management of the company:</div>
                <div>Prof. Dr. Johann Füller, Recardo Jackson</div>
            </div>
            <div class="section">
                <div>Commercial Register:</div>
                <div>Municipal Court of Munich</div>
                <div>HRB 241 872</div>
            </div>
            <div class="site-title">
                <h1>Disclaimer & Copyright</h1>
            </div>
            <div>
                The unrestricted rights of use for all content (e.g. texts, photographs, design and source code) on that
                website shall exclusively retain with the named media owner. Non-commercial use in electronic or printed
                form is permitted, as long as the content is not altered and a source reference is included. Commercial use
                or redistribution of the website content is permitted upon obtaining written authorization from the copyright
                holder. The proprietor of this website does not take any responsibility for contents of third party websites,
                that are referred to on this website via hyperlinks.
            </div>
        </mat-card>
    </div>
</app-sidenav>