<app-sidenav>
    <div class="static-page" ngClass.lt-md="small" fxLayout="column">
        <mat-card fxFlexAlign="center">
            <div>
                <h2>
                    GENERAL TERMS AND CONDITIONS OF msg systems ag for CLOUD SERVICES (“Cloud GTC”)
                </h2>
            </div>
            <div class="section">
                <h1 class="site-title">APPLICABILITY</h1>
                Except as otherwise agreed, in any contractual relations in which msg systems ag (hereinafter referred to as “msg”) provides
                Cloud Services including Support, as well as related Consulting Services, to another company or public-law entity or special
                fund, these General Terms and Conditions for Cloud Services (or “Cloud GTC”) apply. They apply to precontractual relations
                accordingly.
            </div>
            <div class="section">
                <ol>
                    <li>DEFINITIONS
                        <ol>
                            <li><b>“Customer Data”</b> means any content, materials, data, personal data and information that Authorized
                                Users enter into the production system of a Cloud Service or derive from its use of and store in the Cloud
                                Service (e. g. Customer-specific reports). Customer Data and its derivatives will not include msg’s
                                Confidential Information.
                            </li>
                            <li><b>“Authorized User”</b> means a person at Customer or its Affiliates or Customer’s or its Affiliates’
                                Business Partners to whom Customer grants access authorization to use the Cloud Service.
                            </li>
                            <li><b>“Cloud Materials”</b> mean any materials provided by msg to Customer before or in the course of
                                performance under the Agreement, including the materials produced delivering support or Consulting Services
                                for Customer. Cloud Materials include materials created in cooperation with Customer, but do not include the
                                Customer Data, Customer Confidential Information or the Cloud Service.
                            </li>
                            <li><b>“Cloud Service”</b> means any distinct on demand solution provided and supported by msg under an Order
                                Form.
                            </li>
                            <li><b>“Consulting Services”</b> means related professional services, such as implementation, configuration, or
                                training services, agreed as applicable in the Order Form.
                            </li>
                            <li><b>“Documentation”</b> means msg 's then-current technical and functional documentation as well as any roles
                                and responsibilities descriptions, if applicable, for the Cloud Service which is made available to Customer
                                with the Cloud Service.
                            </li>
                            <li><b>“Business Partner”</b> means a legal entity that requires use of a Cloud Service in connection with
                                Customer’s and its Affiliates’ internal business operations. These may include customers, distributors,
                                service providers and/or suppliers of Customer or its Affiliates.
                            </li>
                            <li><b>“Subscription Term”</b> means the term of a Cloud Service subscription identified in the applicable Order
                                Form, including the Initial (Subscription) Term and all Renewal Terms.
                            </li>
                            <li><b>“Usage Metric”</b> means the standard of measurement for determining the permitted use volume and
                                calculating the applicable fees due for a Cloud Service as set forth in the Order Form.
                            </li>
                            <li><b>“Order Form”</b> or <b>“Agreement”</b> means an agreement between msg and Customer on Cloud Services and
                                (where applicable) related Consulting Services referencing the present Cloud GTC (and other documents).
                            </li>
                            <li><b>“msg Policies”</b> means the operational guidelines and policies applied by msg to provide and support
                                the Cloud Service as incorporated in an Order Form.
                            </li>
                            <li><b>“Affiliate”</b> means any legal entity that is affiliated with another company within the meaning of the
                                German Stock Corporation Act (AktG), section 15.
                            </li>
                            <li><b>“Confidential Information”</b> means all information which msg or Customer protect against unrestricted
                                disclosure to others or that are deemed confidential according to the circumstances of their disclosure or
                                their content, including the Agreement. In any case, the following information is considered to be
                                Confidential Information of Customer: the Customer Data, Customer marketing and business requirements,
                                Customer implementation plans, and/ or Customer financial information; and Confidential Information of msg:
                                the Cloud Service, Documentation, Cloud Materials and analyses under Section 3.5, and information regarding
                                msg research and development, product offerings, pricing and availability.
                            </li>
                        </ol>
                    </li>
                    <li>USAGE RIGHTS
                        <ol>
                            <li>During the Subscription Term, msg grants to Customer a non-exclusive, non-transferable and world-wide right
                                to use the Cloud Service (including its implementation and configuration), Cloud Materials and Documentation
                                solely for running Customer’s and its Affiliates’ internal business operations and in accordance with the
                                Agreement, the msg Policies and the Documentation. Permitted uses and restrictions of the Cloud Service also
                                apply to Cloud Materials and Documentation.
                            </li>
                            <li>Customer may permit Authorized Users to use the Cloud Service within the contractually agreed scope. In
                                particular, usage is limited to the Usage Metrics and volumes stated in the Order Form. Access credentials
                                for the Cloud Service may not be shared or used by more than one individual at a time, but may be
                                transferred from one individual to another if the original user is no longer permitted to use the Cloud
                                Service. Customer is responsible for the acts and omissions of its Authorized Users, Affiliates, and
                                Business Partners as for its own acts and omissions and shall oblige them to adhere to the contractual
                                provisions for the use of the Cloud Service, Documentation and the Cloud Materials. Customer is otherwise
                                not allowed to sublicense, license, sell, lease rent or otherwise make any Cloud Service or Cloud Materials
                                available to third parties.
                            </li>
                            <li>Acceptable Use Policy: When using the Cloud Service, Customer shall not: (a) copy, translate, disassemble,
                                decompile, reverse engineer, or otherwise modify, in full or in part, or make any derivative works of the
                                Cloud Service, the Documentation or Cloud Materials (except to the extent permitted by mandatory law);
                                however, the Documentation may be copied to the extent necessary for internal purposes; (b) use the Cloud
                                Service in breach of applicable law, in particular Customer will not transmit any content or data that is
                                unlawful or infringes any intellectual property rights of third parties; (c) circumvent or endanger the
                                operation or security of the Cloud Service.
                            </li>
                            <li>Customer will monitor its use of the Cloud Service and report to msg in writing without undue delay any use
                                that goes beyond what is contractually agreed, in particular any use in excess of the Usage Metrics and
                                volume. In this case, Customer must sign an Extension Agreement that documents the additional use and
                                additional fee. Such fees shall accrue from the date the excess use began. msg may monitor use to verify
                                compliance with Usage Metrics, volume and the Agreement.
                            </li>
                            <li>msg can temporarily suspend Customer’s access (in particular user names and passwords) to the Cloud Service
                                to prevent damages, if it is sufficiently probable that the continued use of the Cloud Service in breach of
                                contract by Customer, the Authorized Users, or a third party using Customer’s access data may result in harm
                                to the Cloud Service, other msg customers, or the rights of third parties in such a way that immediate
                                action is required to avoid damages. msg will notify Customer of the suspension without undue delay. If
                                circumstances allow, Customer shall be informed in advance in writing or by email. msg will limit the
                                suspension in time and scope as reasonably possible under the circumstances.
                            </li>
                            <li>The Cloud Service may include integrations with web services made available by third party providers on
                                external websites that are accessed through the Cloud Service and subject to terms and conditions with those
                                third parties. msg shall provide only technical access to the content of such integrated websites. The
                                content of such websites is the sole responsibility of these third parties. msg Cloud GTC Version 2017 Page
                                2 of 4
                            </li>
                            <li>Authorized Users may access certain Cloud Services through mobile applications obtained from third-party
                                websites such as Android or Apple app store. The use of mobile applications as such is subject to the terms
                                and conditions agreed upon download/access to the mobile application and is not subject to the terms of the
                                Agreement.
                            </li>
                        </ol>
                    </li>
                    <li>msg RESPONSIBILITIES AND OBLIGATIONS
                        <ol>
                            <li>msg provides the Cloud Service agreed in the Order Form in accordance with Section 2. msg provides support
                                as agreed in the Order Form and (if agreed) the Consulting Services. The quality and functionality of the
                                agreed performance that msg is obliged to provide is conclusively agreed in the Order Form and the documents
                                referred to therein. msg is not obliged to perform additional services or provide additional service
                                features. If Customer is provided with a free-of-charge Cloud Service, msg shall provide no support for this
                                Cloud Service and has no obligation to provide any particular service level. msg may cease providing access
                                to such free-of-charge Service at any time. This Section 3.1 supersedes any conflicting term in these Cloud
                                GTC.
                            </li>
                            <li>msg will maintain an average monthly system availability for the production system of the Cloud Service as
                                defined in the the Order Form. In the event msg fails to meet the system availability (i) for four
                                consecutive calendar months, or (ii) for five or more calendar months during any twelve months period, or
                                (iii) at a system availability level of least 95% for one calendar month, Customer may terminate its
                                subscriptions for the affected Cloud Service by providing msg with written notice within thirty days after
                                the failure. Termination will become effective at the end of the calendar month in which msg has received
                                the termination notice.
                            </li>
                            <li>msg uses reasonable security technologies in providing the Cloud Service. As a data processor, msg will
                                implement and maintain technical and organizational measures for the processing of personal data in the
                                Cloud Service in accordance with applicable data protection law, as agreed in the Data Processing Agreement
                                for msg Cloud Services referenced in the Order Form.
                            </li>
                            <li>The features of the Cloud Service and the msg Policies may be enhanced and may be adapted by msg to reflect
                                technical advances and to allow for the Cloud Service’s continuing compliance with applicable mandatory law
                                (“Continuous Modification”). msg will provide information about Continuous Modifications within a reasonable
                                period of notice (in general 3 months before the change is scheduled to take effect), in particular by
                                email, on the Support Portal, through Release Notes, or within the Cloud Service. In the event that a change
                                may negatively affect the justified interests of Customer so that Customer can no longer reasonably be
                                expected to adhere to the agreements in the Order Form, Customer can terminate the affected Cloud Service in
                                writing with a notice period of one month before the announced change is scheduled to take effect. In case
                                Customer does not terminate, the Continuous Modification will become effective on the date the announced
                                change is scheduled to take effect. msg will draw attention to this in the change notice.
                            </li>
                            <li>msg may create analyses utilizing, in part, Customer Data and information derived from Customer’s use of the
                                Cloud Service and Consulting Services. Analyses will anonymize and aggregate information, and will be
                                treated as Cloud Materials. Examples of how analyses may be used include: optimizing resources and support;
                                research and development; automated processes that enable continuous improvement, performance optimization
                                and development of new msg products and services; verification of security and data integrity; internal
                                demand planning; and data products such as industry trends and developments, indices and anonymous
                                benchmarking.
                            </li>
                        </ol>
                    </li>
                    <li>CUSTOMER DATA AND PERSONAL DATA; CUSTOMER RESPONSIBILITIES AND OBLIGATIONS
                        <ol>
                            <li>Customer is responsible for the content of the Customer Data and entering it into the Cloud Service. Subject
                                to Section 11, Customer grants to msg (including its Affiliates and subcontractors) a nonexclusive right to
                                process Customer Data for the sole purpose of and only to the extent necessary for msg to provide and
                                support the Cloud Service (including without limitation preparing backup copies or performing penetration
                                tests); (ii) to verify Customer’s compliance with the provisions set forth in Section 2.
                            </li>
                            <li>Customer will collect and maintain all personal data contained in the Customer Data in compliance with
                                applicable data protection law.
                            </li>
                            <li>Customer shall maintain appropriate security standards for use of the Cloud Service by the Authorized Users.
                                Customer is solely responsible for determining the suitability of the Cloud Service for Customer’s business
                                processes and for complying with all applicable legal provisions regarding Customer Data and its use of the
                                Cloud Service. Free of charge, Customer must provide the collaboration required in connection with the
                                provision of the Cloud Service and the support and Consulting services by msg, including, for example,
                                infrastructure and telecommunications equipment for Cloud Service access. msg points out that Customer’s
                                collaboration is a necessary precondition for msg’s correct performance of its obligations. Customer bears
                                all consequences and costs resulting from breach of its duties. Section 8 also applies.
                            </li>
                            <li>msg does not own Customer Data. While Customer may engage msg to enter, tag, aggregate, delete, or otherwise
                                manage Customer Data, Customer shall remain responsible for Customer Data. Customer and Authorized Users,
                                not msg, shall have sole responsibility for the accuracy, quality, integrity, legality, reliability,
                                appropriateness, and intellectual property ownership or right to use all Customer Data. msg shall not be
                                responsible for any destruction, damage, loss of any Customer Data that occurs due to circumstances beyond
                                its reasonable control. Customer agrees and acknowledges that msg has no right or obligation to retain the
                                Customer Data more than thirty (30) days from the date of termination and will destroy any Customer Data in
                                its possession or control thirty (30) days after termination of this Agreement.
                            </li>
                            <li>The Cloud Services are not intended to replace the need for Customer to maintain regular data back-ups or
                                redundant data archives.
                            </li>
                            <li>Customer represents and warrants that it has obtained all rights, permissions, and consents necessary to use
                                and transfer the Customer Data within and outside of the country in which it islocated in conjunction with
                                msg’s provision of the Cloud Services.
                            </li>
                        </ol>
                    </li>
                    <li>REMUNERATION, PAYMENT, TAXES
                        <ol>
                            <li>Customer will pay msg the fees agreed in the Order Form. No cash discounts shall be granted. Payments are
                                due 30 calendar days from the date of the invoice. Any fees not paid when due shall accrue interest at the
                                applicable statutory interest rate. If Customer is still in default of payment after a reasonable extension
                                period set by msg has passed, msg can deny full or partial access to the Cloud Service temporarily until
                                payment has been received. Customer may offset only claims or claim rights of retention that are uncontested
                                or have been finally determined by the court.
                            </li>
                            <li>All agreed fees are subject to statutory value-added tax.
                            </li>
                            <li>During the Subscription Term of the Order Form, Customer may agree on an increase of units of an agreed
                                Usage Metric by executing an addendum to the relevant Order Form (“Extension Agreement”). The term of each
                                Extension Agreement shall be co-terminous with the thencurrent term of the Order Form irrespective of the
                                effective date of Extension Agreement and all fees shall be prorated accordingly. Upon renewal of the Order
                                Form, the renewal term for all increases in Usage Metric added to the Order Form prior to renewal shall be
                                the same as specified in the Order Form.
                            </li>
                            <li>The recurring fee agreed in the Order Form applies for the Initial Subscription Term agreed therein. The fee
                                applicable for a Renewal Term corresponds to the fees for the preceding Initial or Renewal Term, unless msg
                                increases the fees as follows:
                                <ol>
                                    <li>Subject as is set out below, msg may at its discretion adjust the recurring fees with effect from
                                        the start of a renewal term by giving two months’ written notice of the fee adjustment to Customer:
                                    </li>
                                    <li class="sub-list-item">The change applied to the fees must not be greater than the change in the
                                        index under section (c) msg Cloud GTC Version 2017 Page 3 of 4 below (“Discretionary Applicable
                                        Change”). For the first fee adjustment under the contract, the Discretionary Applicable Change is
                                        the change from the published index as it stood when the contract was concluded to the index as it
                                        had most recently been published when the fee adjustment notice was given. If the fee has already
                                        been adjusted in the past, the Discretionary Applicable Change is the change from the index that had
                                        been most recently published when the previous fee adjustment notice was given to the index that had
                                        most recently been published when the new fee adjustment notice is given.
                                    </li>
                                    <li>The index used to determine the Discretionary Applicable Change is the index of mean gross monthly
                                        salaries of full- time employees in Germany in the information technology services sector (currently
                                        published in the quarterly figures by the German Federal Statistics Office at “Fachserie 16, Reihe
                                        2.4, Gruppe J 62”). If that index is discontinued, the applicable index will be the index published
                                        by the Federal Statistical Office that most closely reflects changes in average gross monthly
                                        earnings in that sector.
                                    </li>
                                    <li>The fee change is deemed to be agreed by the parties if the Cloud Service is renewed automatically
                                        for the renewal period unless Customer, by giving written notice at least one month prior to the
                                        expiration date of the preceding contractual term, terminates the Order Form with effect from the
                                        expiration of the relevant contractual term (extraordinary termination right). msg will draw
                                        attention to this in the fee adjustment notice
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>TERM, TERMINATION
                        <ol>
                            <li>The Subscription Term is as stated in the Order Form. Each Order Form initially runs for the Initial
                                Subscription Term defined therein (“Initial Subscription Term”). At the end of the Initial Subscription
                                Term, it automatically renews by the renewals defined therein (each a “Renewal Term”), unless the Order Form
                                is terminated by one of the parties in accordance with Section 6.2.
                            </li>
                            <li>Ordinary (partial) termination of the Order Form is excluded during the Initial Subscription Term or any
                                Renewal Term. Customer may terminate any Order Form by written notice at least one month in advance of the
                                expiration of the Initial Subscription Term or current Renewal Term. msg may terminate any Order Form by
                                written notice at least six months prior to the expiration of the Initial Subscription Term or current
                                Renewal Term. Extraordinary termination rights and the right to termination for just cause remain
                                unaffected. Notice of termination must be given in written form. The provisions in Section 12.1 concerning
                                notices setting limited extra time also apply. msg reserves the right to terminate for just cause in
                                particular where Customer is repeatedly or seriously in breach of major contractual obligations (in
                                particular in Sections 2, 4 and 11).
                            </li>
                            <li>In the event of termination by Customer, Customer shall be entitled to a pro-rata refund of prepaid fees for
                                the period of time of termination to the end of the original term for the relevant Cloud Service.
                            </li>
                            <li>At the end of the contract, (i) Customer’s access to the Cloud Service shall cease, (ii) Customer’s right to
                                use the Cloud Service and all msg Confidential Information will end and (iii) Confidential Information of
                                the disclosing party will be returned or destroyed as required by the Agreement. Termination of individual
                                Order Forms shall leave other Order Forms and agreements unaffected.
                            </li>
                        </ol>
                    </li>
                    <li>WARRANTIES BY msg
                        <ol>
                            <li>msg warrants, for the Subscription Term, that the Cloud Service meets the specifications agreed in the
                                Documentation and that the Cloud Service where used by Customer as contractually agreed does not infringe
                                any third- party right. msg will remedy any defects as to quality and defects in title in the Service in
                                accordance with Section 7.4. If msg has failed to remedy the defect at the end of an additional time period
                                of a reasonable length set in writing by Customer, and the suitability of the Cloud Service is consequently
                                reduced to a more than just insignificant degree, Customer has the right of termination, which must be
                                communicated in writing. If the suitability of the Cloud Service for use in accordance with the Agreement is
                                reduced to a more than just insignificant degree, Customer is entitled to reduce the remuneration by an
                                appropriate amount. Section 9 applies for damage compensation due to defects. No-fault liability as provided
                                in the German Civil Code, Section 536a (1) Alt. 1 for defects that existed at the time of contract execution
                                is excluded.
                            </li>
                            <li>For Consulting Services provided as works (“Werkleistung”), msg warrants that the Consulting Service
                                corresponds to the agreed service description by remedying defects in accordance with Section 7.4. If
                                defects have not been remedied at the end of an additional time period of a reasonable length set by
                                Customer in writing, Customer is entitled to reduce the payable remuneration in the Order Form for the
                                Consulting Service concerned by an appropriate amount or to withdraw from the Order Form with respect to the
                                Consulting Service. Section 9 applies for damage compensation due to defects.
                            </li>
                            <li>If msg fails to properly provide Consulting Services which are not subject to acceptance, or if – with
                                regard to Consulting Services or the Cloud Service – msg is otherwise in breach in an area other than
                                liability for defects as to quality and defects in title, Customer must give notice of this failure or
                                breach to msg in writing and set an additional time period of a reasonable length, during which msg has the
                                opportunity to properly perform its duty or otherwise remedy the situation. Section 9 applies with regard to
                                compensation for damages.
                            </li>
                            <li>msg shall remedy defects in Consulting Services that are subject to acceptance and in the Cloud Service by
                                providing Customer with either a new Consulting Service or Cloud Service, that is free of defects or, at its
                                election, by eliminating the defects. One of the ways msg may eliminate a defect is to indicate to Customer
                                a reasonable way to avoid the effect of the defect. In the event of defects in title, msg shall elect to (i)
                                procure for Customer the right to use the Cloud Service or Consulting Service in accordance with the
                                contract, or (ii) replace the Cloud Service or Consulting Service or change it such that the accusation of
                                breach no longer stands, whereby Customer’s contractual use is not unreasonably impacted, or (iii) terminate
                                the Order Form to this extent and reimburse the Customer’s remuneration paid in advance for the term
                                remaining after the date of termination, and to pay damages subject to the limitations of Section 9.
                            </li>
                            <li>Customer must give notice of every breach to msg in writing without delay and with a detailed description of
                                the reason.
                            </li>
                            <li>Warranty rights resulting from defects as to quality and defects in title in Consulting Services subject to
                                acceptance expire one year after acceptance. Warranties for the Cloud Service apply accordingly to the
                                support services.
                            </li>
                        </ol>
                    </li>
                    <li>THIRD-PARTY CLAIMS
                        <p class="chapter">
                            If a third party claims that Customer´s use of the Cloud Service or Cloud Materials in accordance with the terms
                            and conditions of the Agreement infringes its intellectual property rights, Customer must fully inform msg in
                            writing without delay. If Customer ceases to use the contractual Cloud Service or Cloud Materials to mitigate
                            loss or for other just reason, Customer must notify the third party that such cessation does not imply any
                            recognition of the claimed infringement. Customer shall conduct court proceedings with the third party only with
                            msg’s agreement or shall authorize msg to assume sole conduct of the dispute. This applies mutatis mutandis in
                            cases where a third party makes claims against msg that are due to acts by Customer, the Authorized Users, or
                            third-party provider access.
                        </p>
                    </li>
                    <li>LIMITATION OF LIABILITY
                        <ol>
                            <li>msg is liable in contract, tort, or otherwise for loss or wasted expenditure subject always as follows:
                                <ol>
                                    <li>In cases of intent, msg ’s liability extends to the full loss; in cases of gross negligence,
                                        liability is limited to the amount of foreseeable loss that would have been prevented through the
                                        exercise of due care; in cases of absence of a guaranteed quality, liability is limited to the
                                        amount of foreseeable loss that would have been prevented by the presence of the guaranteed quality.
                                    </li>
                                    <li>In other cases, msg is not liable except for breach of a major obligation (Kardinalpflicht) and only
                                        up to the limits in the following subsection. A breach of a major obligation in the meaning of this
                                        Section 9.1 (b) is assumed where the duty itself is a necessary prerequisite for the contractual
                                        performance, or where the breach of the relevant duty jeopardizes the purpose of the contract and
                                        where Customer could legitimately rely upon its fulfillment.
                                    </li>
                                </ol>
                            </li>
                            <li>Liability in cases under Section 9.1 (b) is limited to EUR 50.000,00 per incident, and to a total per
                                contract year of the fee that was paid in the contract year for the Cloud Service (or Consulting Service
                                respectively) concerned, but at least EUR 200.000,00.
                            </li>
                            <li>Contributory fault (e. g. breach of Section 4 duties) may be claimed. The limits of liability in Section 9.1
                                do not apply to personal injury liability or liability under the German Product Liability Act
                                (Produkthaftungsgesetz).
                            </li>
                            <li>All claims against msg in contract, tort, or otherwise for loss or wasted anticipatory expenditure are
                                barred after a period of one year. That period begins at the point in time specified in the German Civil
                                Code, Section 199 (1). The foregoing provisions in this section notwithstanding, the time bar comes into
                                effect not later than five years after the claim arises. The provisions in sentences 1 to 3 in this
                                subsection 9.4 do not apply to liability for intent or gross negligence, liability for personal injury, or
                                liability under the German Product Liability Act. The provisions in this section do not affect the other
                                time bar for claims arising out of defects as to quality and defects in title (Section 7).
                            </li>
                        </ol>
                    </li>
                    <li>IP RIGHTS
                        <ol>
                            <li>Customer may only use the Cloud Service, Cloud Materials, Documentation and Consulting Services to the
                                extent contractually agreed. As between Customer and msg, all rights therein, that are not expressly granted
                                to Customer, are reserved to msg and its Affiliates or licensors, including without limitation if those were
                                created to address a requirement of or in collaboration with Customer.
                            </li>
                            <li>Except as stated otherwise in the Agreement, Customer retains all rights in and related to the Customer Data
                                as between Customer and msg. msg may use Customer-provided trademarks solely to provide and the Cloud
                                Service and the Support.
                            </li>
                        </ol>
                    </li>
                    <li>CONFIDENTIALITY
                        <ol>
                            <li>Both parties undertake forever to protect the other party’s Confidential Information acquired before and in
                                connection with contract performance, as confidential to the same extent they protect their own Confidential
                                Information, and not less than a reasonable standard of care. Confidential Information of the other party
                                may only be shared with or disclosed to third parties who are under obligations of confidentiality
                                substantially similar to those in Section 11 and only to the extent this is necessary to enable the
                                receiving party to exercise its rights or perform its obligations under the Agreement. Any reproduction of
                                any Confidential Information of the other party shall contain any and all confidential or proprietary
                                notices or legends which appear on the original, as far as this is technically feasible.
                            </li>
                            <li>Section 11.1, above shall not apply to any Confidential Information that: (a) is independently developed by
                                the receiving party without reference to the disclosing party’s Confidential Information; (b) is generally
                                available to the public without a breach of the Agreement by the receiving party or is lawfully received
                                free of restriction from a third party having the right to furnish such Confidential Information; (c) at the
                                time of disclosure, was known to the receiving party free of confidentiality restrictions; or (d) the
                                disclosing party agrees in writing is free of confidentiality restrictions.
                            </li>
                            <li>Neither party shall use the name of the other party in publicity activities without the prior written
                                consent of the other. However msg may use Customer's name in customer listings (reference listings) or
                                quarterly calls with its investors or, at times mutually agreeable to the parties, as part of msg’s
                                marketing efforts (including reference calls and stories, press testimonials, site visits). msg may share
                                information on Customer with its Affiliates for marketing and other business purposes. Insofar as this
                                includes the provision and use of contact information of Licensee’s contact persons, Customer will secure
                                the appropriate permissions where necessary.
                            </li>
                        </ol>
                    </li>
                    <li>MISCELLANEOUS
                        <ol>
                            <li>Except in emergencies, a limited time fixed by Customer pursuant to the law or contract must not be less
                                than ten working days. Where a failure to comply with a fixed time limit entitles Customer to be released
                                from the contract (e. g. by termination or claim for damages in lieu of performance) Customer shall first
                                threat in writing the consequence of failure to comply with that time limit when setting the limited time.
                            </li>
                            <li>Amendments and additions to the Agreement and any contractually relevant declarations as well as
                                declarations influencing a legal relations, especially without being limited to termination notices,
                                reminders, or notices to set time limits, require written form. The foregoing provision also applies to any
                                waiver of the written-form requirement. The written-form requirement can also be met by exchange of letters
                                or (except in the case of termination notices) with an electronically transmitted signature. Except in that
                                respect, however, the provisions in the German Civil Code, Section 127 (2) and (3) do not apply.
                            </li>
                            <li>The Cloud Service, Cloud Materials, and Documentation are subject to the export control laws of various
                                countries, in particularly the laws of the US and the Federal Republic of Germany. Customer shall not hand
                                over the Cloud Service, Documentation, or Cloud Materials to governmental authorities for licensing
                                considerations or other official approval without msg’s prior written consent, and shall not export the
                                Cloud Service, Documentation, or Cloud Materials to countries or to natural or legal persons for which
                                export bans apply according to the relevant export laws. Furthermore, Customer is responsible for complying
                                with all applicable legal provisions of the country in which it is headquartered, and of other countries in
                                respect of the use of the Cloud Service, Documentation, and Cloud Materials by Customer and its Authorized
                                Users.
                            </li>
                            <li>System notifications and information from msg relating to the operation, hosting or support of the Cloud
                                Service can also be provided within the Cloud Service, electronically to the contact person named in the
                                Order Form or can be made available via the msg Support Portal.
                            </li>
                            <li>These Cloud GTC can be changed with regard to the provision and support of the Cloud Service, in accordance
                                with the sentences below provided that the change does not have any impact on the contractual content that
                                is material for the equivalency of Cloud Services and support and their remuneration between the parties and
                                provided that such change is reasonably acceptable for Customer. msg will inform Customer about the change
                                of the Cloud GTC in writing. If, in this case, Customer does not expressly disagree in writing within four
                                weeks after receipt of the change notice, the change will be deemed to be effected and from this point in
                                time, the changed version of the Cloud GTC is binding for the existing agreements between msg and Customer.
                                msg will draw attention to this consequence in the change notice.
                            </li>
                            <li>Without msg’s prior written consent, however subject to the provisions of the German Commercial Code (HGB),
                                Section 354a respectively, Customer may not assign or transfer the Agreement or any of its rights or
                                obligations to a third party. msg may assign the Agreement to any of its Affiliates.
                            </li>
                            <li>German law applies exclusively to all claims in contract, in tort, or otherwise, and the UN sales laws
                                convention is excluded.
                            </li>
                            <li>The conflict-of-law rules shall not apply. If Customer is a merchant, a juristic person under public law, or
                                separate fund under public law, the sole place of jurisdiction for all differences arising out of or in
                                connection with the Agreement shall be Munich.
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </mat-card>
    </div>
</app-sidenav>