if entityName === 'format'
    = t('formatInvitation.subject')
else if entityName === 'library'
    = t('libraryInvitation.subject')
else if entityName === 'workspace'
    = t('workspaceInvitation.subject')
