@import 'variables';

.description-dialog {
    max-height: fit-content;
    padding: 24px;
    overflow: hidden;
}

.description-dialog-content {
    margin-top: 24px;
    max-height: 100%;
}

.copy-button {
    color: $joolia-secondary-900;
}

.copy-button .material-icons {
    font-size: 16px;
}

.code-block {
    background-color: $joolia-grey-75;
    min-width: 60%;
    padding: 8px;
}

.code-text {
    margin: auto 0;
    font: 400 12px/20px 'Roboto Mono', monospace;
}

.description-block {
    padding-left: 16px;
    text-align: left;
    margin: auto 0;
}
