@import 'variables';

.user-card {
    &-title-clickable {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    &-subcontent {
        color: $joolia-grey;
        font-size: 12px;
        margin-right: 8px;

        & > span {
            max-width: 100%;
        }
    }

    &-skills {
        padding: 4px 0 0;
    }
}
