@import 'variables';

.sidenav {
    &-container {
        width: 100%;
    }

    &-bar {
        width: 256px;
        position: fixed;
        top: 50px;
        & div {
            overflow: hidden;
        }
    }

    &-divider {
        margin: 8px 0;
    }

    &-header {
        padding: 8px 16px 0 16px;
    }

    &-active {
        background-color: $joolia-primary-50;
        color: $joolia-primary-600 !important; //important at the moment since the a-tag does not switch the text color without it

        &:hover,
        &:focus {
            background-color: $joolia-primary-100 !important;
            color: $joolia-primary-800 !important; //important at the moment since the a-tag does not switch the text color without it
        }
    }

    &-content {
        padding-bottom: 100px;
    }

    &-submenu {
        &-header {
            font-size: 16px;
            margin: 16px 0;
            width: calc(100% - 60px);
            padding-left: 60px;
        }

        &-items {
            width: 100%;

            div {
                padding: 0 0 0 40px;
            }
        }

        &-active {
            color: $joolia-black !important; //important at the moment since the a-tag does not switch the text color without it
            background-color: $joolia-white;

            .sidenav-submenu-key {
                font-weight: 500;
            }
        }

        .sidenav-submenu-key {
            padding-left: 8px;
        }
    }
}
