<mat-form-field class="base-password-form-input" appearance="outline" [formGroup]="parentForm" hideRequiredMarker fxFlex>

    <!-- Password label -->
    <mat-label>{{ 'labels.password' | translate }}</mat-label>

    <!--Password Input -->
    <input matInput [type]="passwordInputType" [formControlName]="passwordControlName" [required]="passwordRequired">

    <!--Password visibility-->
    <mat-icon class="password-visibility" matSuffix (click)="togglePasswordVisibility()">{{passwordIcon}}</mat-icon>

    <!-- Errors and Hints -->
    <mat-error *ngIf="parentForm.controls[passwordControlName].invalid">{{ getErrorTranslationKey() | translate }}</mat-error>
    <mat-hint *ngIf="showHint">{{ 'hints.password' | translate }}</mat-hint>

</mat-form-field>