@import 'variables';

.library-details-phase-templates {
    > loading-indicator {
        padding-top: 16px;
    }

    .phase-template-card-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .mat-body-1 {
        margin: 16px 0 0 0;
    }

    .duration-icon {
        margin-right: 8px;
    }

    .mat-title {
        max-width: 100%;
        margin-bottom: 12px;
    }

    .no-margin {
        margin: 0;
    }

    .duration {
        max-width: 100%;
    }

    .category-icon-chip::ng-deep > div > mat-icon {
        vertical-align: text-top;
    }

    list-row-item.small::ng-deep > mat-list-item {
        height: auto;
    }
}
